
@media  ( max-width: 1200px )   {}
@media  ( max-width: 991px )   {}
@media  ( max-width: 767px )   {}
@media  ( max-width: 575px )   {

    .container {
        padding: 0 15px 0 15px;
    }

    .header {
        justify-content: space-between;
        &__logo {
            width: 40%;
        }
        &__official {
            display: none;
        }
        &__phone    {
            font-size: 14px;
        }
    }
    .button {
        width: 140px;
        height: 25px;
        &_main {
            width: 271px;
            height: 45px;
            font-size: 16px;
            margin-top: 47px;
        }
    }

    .promo  {
        min-height: 500px;
        padding: 11px 0 50px 0;
        &__wrapper  {
            align-items: center;
            margin-top: 45px;
        }
        &__header   {
            font-size: 24px;
        }
        &__subheader    {
            font-size: 13px;
        }
        &__icons    {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: wrap;
            width: unset;                          
        }
        &__icon {
            &:nth-last-child(1) {
                margin-top: 20px;
            }  
        }
        &__link {
            margin-top: 10px;
            font-size: 13px;            
            position: relative;
            left: 57px;
        }
    }
    .advantages {
        padding: 35px 0 40px 0;  
        &__wrapper {
            margin: 0 auto;
            margin-top: 25px;
            display: block;
        }     
        &__block {
            max-width: 100%;
            &:nth-child(2) {
                margin: 10px 0 10px 0;
            }
        } 
        &__subtitle {
            margin-top: 15px;
        }
        &__descr {
            margin-top: 10px;
        }
    }
    .title {
        font-size: 24px;
    }
}