.reviews    {
    padding-bottom: 71px;
    &__blocks  {
        display: flex;
        flex-direction: column;  
        margin-top: 70px;      
    }
    &__block    {
        display: flex;
        margin-bottom: 100px;
        img {
            width: 169px;
            height: 169px;
            margin-right: 62px;
        }        
    }
    &__wrapper  {
        padding-right: 60px;
    }
    &__header   {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__subheader    {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
    }
    &__descr    {
        margin-top: 10px;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
    }
}